.woronaPublish {
  max-width: 400px !important;
  margin: 0 auto !important;
  border-top-color: #27ae60;
  border-top-style: solid;
  border-top-width: 6px;
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.5) !important;
  box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.5) !important;
}

.DIYPublish {
  border-top-color: #95a5a6;
  border-top-style: solid;
  border-top-width: 6px;
}

.splash {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.progress {
  padding: 0px 20px 20px 20px;
}

.dropzone {
  background-color: #F5F5F5;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.uploading {
  background-color: #FFF9CD;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.succeed {
  background-color: #CDFFD8;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2),0 0 0 1px #49C359;
}

.error {
  background-color: #FFCDCD;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2),0 0 0 1px #C34949;
}

.step {
  font-size: 20px !important;
  margin-bottom: 5px !important;
  font-weight: 500 !important;
}
